.LineChart svg {
  color: #008a2e;
  border: solid 1px #008a2e;
}

.LineChart svg .background {
  stroke: none;
  fill: #0d1f14;
}

.LineChart svg .axis.label {
  fill: #008a2e;
  font-size: 12px;
}

.LineChart svg .axis .tick line {
  stroke: #008a2e;
}

.LineChart svg .axis .tick text {
  fill: #008a2e;
}

.LineChart svg .axis.grid .domain {
  stroke: none;
}

.LineChart svg .axis.grid .tick line {
  stroke: #008a2e;
}

.LineChart svg .line {
  stroke-width: 1px;
  fill: none;
}

.LineChart svg .legend .legend-background {
  fill: none;
  stroke: #008a2e;
}
